.hover-effect:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}



/* css of below component  */
/* .lgc-bg {
    background: linear-gradient(to bottom, #555f90 20%, #F2F2F2 20%);
    border-radius: 25px;
    box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.25);
    margin: 10px;
    position: relative;
    transition: box-shadow 0.3s ease-in-out;

}



.lgc-bg::before {
    content: "";
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F2F2F2;

    z-index: -1;

    transition: background-color 0.3s ease-in-out;
}

.lgc-bg:hover::before {
    background-color: #E2E2E2;

}

.lgc-bg:hover {
    background: linear-gradient(to bottom, #8290d5 20%, #E2E2E2 20%);
    cursor: pointer;
    box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.5);
}

h1 {
    background-color: #8290d5;

    padding: 10px;

    border-radius: 5px;

    display: block;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);

}

.custom-tile.slds-card__header-title {
    color: black;
} */